In [151]:
# imports

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

# Show more rows and columns

pd.set_option('display.max_rows', 120)
pd.set_option('display.max_columns', 120)

In [206]:
# Read in the training data

file_path = '../data/predictions.csv'
preds = pd.read_csv(file_path)

In [210]:
# Check visually

preds.head()

               0
0  131264.294416
1  239013.127259
2  276327.457872
3  166203.535415
4  225476.846644

In [214]:
preds.rename({'0': "SalePrice"}, axis=1, inplace=True)
preds

         SalePrice
0    131264.294416
1    239013.127259
2    276327.457872
3    166203.535415
4    225476.846644
..             ...
508  169294.911794
509  119842.661116
510  123576.442297
511   92058.972054
512  264686.979184

[513 rows x 1 columns]

In [205]:
.to_csv('../data/submission.csv', index=False)